---
title: Typography
date: 2016-09-03 14:04 UTC
tags: styleguide
---

## Headings

# H1 Heading
## H2 Heading
### H3 Heading
#### H4 Heading
##### H5 Heading
###### H6 Heading

## Copy & Lists

This is some copy that is meaningfully relevant. Testing paragraphs usually involves some amount of *lorem ipsum*-ing, but I'm going to be different. I resolve to be different. Just like Apple. OK, no, actually, we're not going to be like Apple. We're going to be different from Apple. So we're going to do something different from thinking different. Which means we're going to think... same? But then by thinking same, we're thinking different from Apple, so really we're thinking different just the same as Apple but... oh, my god I can't handle this paragraph. Moving on.

This unordered list will save the day:

+ Important thing numero does not matter
+ Other important thing
+ I am, also, an important thing!
+ Actually, I'm not important - how the hell did I get here?
+ This is not my beautiful house

But maybe we'd rather have an ordered list. It is, after all, more sane. Right?

1. I am the first thing
2. I am the second thing
3. I may be more sane
4. Or am I?
    1. List INCEPTION!
    2. What was done
    3. Could not be undone

And let's break some things up:

>*I amar prestar aen.*
>The world has changed.
>*Han matho ne nen.*
>I feel it in the water.
>*Han mathon ned cae.*
>I feel it in the earth.
>*A han noston ned gwilith.*
>I smell it in the air.
>
>Much that once was is lost, for none now live who remember it.
>
>It began with the forging of the Great Rings. Three were given the elves, immortal, wisest and fairest of all beings. Seven to the Dwarf Lords, great miners and craftsmen of the mountain halls. And nine, nine rings were gifted to the race of Men, who above all else desire power. For within these rings was bound the strength and the will to govern each race. But they were all of them deceived, for another ring was made. Deep in the land of Mordor, in the Fires of Mount Doom, the Dark Lord Sauron forged a master ring, and into this ring he poured his cruelty, his malice, and his will to dominate all life.
>
>One ring to rule them all.
>
>One by one, the free lands of Middle Earth fell to the power of the Ring, but there were some who resisted. A last alliance of men and elves marched against the armies of Mordor, and on the very slopes of Mount Doom, they fought for the freedom of Middle Earth. Victory was near, but the power of the ring could not be undone. It was in this moment, when all hope had faded, that Isildur, son of the king, took up his father's sword.
>
>Sauron, enemy of the free peoples of Middle Earth, was defeated. The Ring passed to Isildur, who had this once chance to destroy evil forever. But the hearts of men are easily corrupted. And the ring of power has a will of its own. It betrayed Isildur, to his death.
>
>And some things that should not have been forgotten were lost. History became legend. Legend became myth. And for two and a half thousand years the Ring passed out of all knowledge. Until, when chance came, it ensnared another bearer.
>
>It came to the creature Gollum, who took it deep into the tunnels of the Misty Mountains. And there it consumed him. The Ring gave to Gollum unnatural long life. For five hundred years it poisoned his mind, and in the gloom of Gollum's cave, it waited. Darkness crept back into the forests of the world. Rumor grew of a shadow in the East, whispers of a nameless fear, and the Ring of Power perceived its time had come. It abandoned Gollum. But something happened then the Ring did not intend. It was picked up by the most unlikely creature imaginable: a hobbit, Bilbo Baggings, of the Shire.
>
>For the time will soon come when hobbits will shape the fortunes of all.

<p class="lead">
  I am lead text. Hear me roar!
</p>

I will be the hugged paragraph. The paragraph below is going to hug me. Watch it hug me real good!

<p class="hug">I am so loveable huggable wonderful luggable!</p>

Go home, paragraph. You're drunk.

```ruby
Life.real?
Life.fantasy?

catch(:landslide) do
  reality = true
  while reality
    character.eyes.each do |eye|
      eye.open
      eye.look(direction: 'sky')
      eye.see
    end

    self.wealth = nil
    self.sex = Sex::MALE

    self.sympathies.empty

    if self.come_difficulty == Difficulty::EASY && self.go_difficulty == Difficulty::EASY && self.high < 0.1 && self.low < 0.1
      case wind.direction
      when 'north', 'south', 'east', 'west'
        self.matter = false;
      end
    end
  end
end
```
